<div *ngIf="listItem">
    <h2>{{listItem?.value}}</h2>
    <div>
        <span>Completed: </span>
        <span [ngClass]="{green: listItem?.completed === true, red: listItem?.completed === false}">{{listItem?.completed}}</span>
    </div>
    <div><span>Date added: </span>{{listItem?.date | date:'longDate'}}</div>
    <div>
        <label>Item name:
            <input placeholder="{{listItem?.value}}"/>
        </label>
    </div>
</div>

<button (click)="goBack()">Go back</button>